<%- include('adminHeader') %>

<section class="content-main">
    <div class="content-header">

        <div>
            <h2 class="content-title card-title">Coupon List</h2>
            <p>All Coupon details are listed</p>
        </div>
        <div>
            <a href="/admin/addCoupon" class="btn btn-primary btn-sm rounded">New Coupon</a>
        </div>
    </div>
    <div>
        <table class="table ">
            <thead> 
                <th> Name</th>
                <th> Offer Type</th>
                <th>expiryDate </th>
                <th>Publish </th>
                <th> Features</th>
            </thead>
        </table>
    </div>
        <div class="card mb-1">
            <div class="card-body">
                <% coupons.forEach((coupon)=>{ %>
                <article class="itemlist">

                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <%= coupon.Name %> 
                        </div>
                        <div class="col-lg-4 col-sm-4 col-8  ">                                
                                <div class="info">
                                    <h6 class="mb-0">
                                        <%= (coupon.offerType !== 'percentage') ? 'Price (' + coupon.price.amount + ')' : 'Percentage (' + coupon.percentage.discount + ')' %>                                    </h6>
                                </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>
                            <%= coupon.ExpiryDate %>
                        </span>
                     </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <span class="badge rounded-pill alert-success">
                                <%= coupon.publish %>
                            </span>
                        </div>
                       
                        <div class="col-lg-2 col-sm-2 col-4 col-action text-end d-flex gap-2">
                            <button  class="btn btn-sm font-sm btn-light rounded" id="couponitems_<%= coupon._id %>"
                                onclick="couponPublish('<%= coupon._id %>','<%= coupon.publish %>')">
                                <%= (coupon.publish===true) ? 'unpublish' :'publish'; %>
                            </button>
                        </div>
                    </div> <!-- row .// -->

                </article> <!-- itemlist  .// -->
                <% }) %>

            </div> <!-- card-body end// -->
        </div> <!-- card end// -->

        <!-- Modal -->




        <!-- Add more information about the product here -->

            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">23</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
</section>

    <script>
        async function couponPublish(id) {
            let dataorder = await Swal.fire({
                    title: 'Are You Sure',
                    text: "You want Publish/Unpublish this Coupon",
                    icon: 'success',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                })    
            if(dataorder.isConfirmed){
                const response = await fetch('/admin/couponList',{
                method:'POST',
                headers:{'Content-Type':'application/json'},
                body:JSON.stringify({id})
            })
            let button = document.getElementById('couponitems_'+id)
            if(response.status === 200) {
                    button.innerHTML = 'Unpublish'
                } else if (response.status === 201) {
                    button.innerHTML = 'Publish'
                }else alert('No coupon found.')
            
            }
    }

    </script>

<%- include('adminFooter') %>