<%- include('adminHeader') %>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>All user orders are here.</p>
                </div>
                <div >
                    
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <form action="/admin/orders" method="get">
                            <div class="col-lg-4 col-md-6 me-auto d-flex">
                                <input type="text" name="search" placeholder="Search..." class="form-control">
                                <button type="submit" class="btn btn-light bg p-2"><i class="material-icons md-search"></i></button>
                            </div>
                        </form>
                        <div class="col-lg-2 col-6 col-md-3">
                            
                        </div>
                        
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <% orderdetails.forEach((orderdata)=>{ %>
                                <tr>
                                    <td><%= orderdata.orderId %></td>
                                    <td><b><%= orderdata.AddressId.Firstname %></b></td>
                                    <td><%= orderdata.AddressId.email %></td>
                                    <td>₹<%= orderdata.totalPrice %></td>
                                    <% if(orderdata.status === 'Cancelled' || orderdata.status === 'returned'){ %>
                                    <td><span class="badge rounded-pill alert-danger"><%= orderdata.status %></span></td>
                                    <% }else if(orderdata.status==='Pending'){ %>
                                    <td><span class="badge rounded-pill alert-warning"><%= orderdata.status %></span></td>
                                    <% }else if(orderdata.status==='Shipped' || orderdata.status==='Processing'){ %>
                                        <td><span class="badge rounded-pill alert-primary"><%= orderdata.status %></span></td>
                                    <% }else{ %>
                                        <td><span class="badge rounded-pill alert-success"><%= orderdata.status %></span></td>
                                    <% } %>
                                    <% if(orderdata.paymentStatus==='failed' || orderdata.paymentStatus==='refund'){ %>
                                    <td><span class="badge rounded-pill alert-danger"><%= orderdata.paymentStatus %></span></td>
                                    <% }else if(orderdata.paymentStatus==='pending'){ %>
                                    <td><span class="badge rounded-pill alert-warning"><%= orderdata.paymentStatus %></span></td>
                                    <% }else{ %>
                                        <td><span class="badge rounded-pill alert-success"><%= orderdata.paymentStatus %></span></td>
                                    <% } %>
                                    <td><%= orderdata.orderDate %></td>
                                    <td class="text-end">
                                        <a href="/admin/orderDetails?id=<%= orderdata._id %>" class="btn btn-md rounded font-sm">view Detail</a>
                                        
                                    </td>
                                </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (current>1) { %>
                            <li class="page-item"><a class="page-link"
                                href="/admin/pagination?page=-1&current=<%= current %>"><i
                                    class="material-icons md-chevron_left"></i></a></li>
                            <li class="page-item "><a class="page-link"
                                href="/admin/pagination?value=1"><%= current-1 %></a></li>
                        <% } %>
                        <li class="page-item active"><a class="page-link"
                            href="/admin/pagination?value=2"><%= current %></a></li>
                        
                            <li class="page-item"><a class="page-link"
                                href="/admin/pagination?value=3"><%= current+1 %></a></li>
                            <li class="page-item"><a class="page-link"
                                href="/admin/pagination?page=1&current=<%= current %>"><i
                                class="material-icons md-chevron_right"></i></a></li>
            </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        
        <%- include('adminFooter') %>
    </main>

    
   