<%- include('header') %>

    <style>
        @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);



        .mt-100 {
            margin-top: 100px;

        }


        .card {
            margin-bottom: 30px;
            border: 0;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            letter-spacing: .5px;
            border-radius: 8px;
            -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
            box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
        }

        .card .card-header {
            background-color: #fff;
            border-bottom: none;
            padding: 24px;
            border-bottom: 1px solid #f6f7fb;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }


        .card .card-body {
            padding-bottom: 80px;
            background-color: transparent;
        }

        .btn-primary,
        .btn-primary.disabled,
        .btn-primary:disabled {
            background-color: #4466f2 !important;
            border-color: #4466f2 !important;
        }
    </style>



    <% if(cartdata.length===0) { %>
        <!-- cart Empty -->
        <div class="container-fluid  ">
            <div class="row">

                <div class="col-md-12" style="background-color: #eee;
                font-family: 'Calibri', sans-serif !important;">

                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body cart">
                            <div class="col-sm-12 empty-cart-cls text-center" style="margin-top: 30px;">
                                <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                    class="img-fluid mb-4 mr-3">
                                <h3><strong>Your Cart is Empty</strong></h3>
                                <h4>Add something to make me happy :)</h4>
                                <a href="/shop" class="btn btn-warning cart-btn-transform m-3" data-abc="true">continue
                                    shopping</a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>


        <% } else { %>
            <main class="main">
                <div class="page-header breadcrumb-wrap">
                    <div class="container">
                        <div class="breadcrumb">
                            <a href="index.html" rel="nofollow">Home</a>
                            <span></span> Shop
                            <span></span> Your Cart
                        </div>
                    </div>
                </div>
                <section class="mt-50 mb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table shopping-summery text-center clean">
                                        <thead>
                                            <tr class="main-heading">
                                                <th scope="col">Image</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Subtotal</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cartdata.forEach((cartitem,index)=>{ %>
                                                <tr>
                                                    <td class="image product-thumbnail"><img
                                                            src="/productimage/<%= cartitem.cartdetails[0].coverImages %>"
                                                            alt="#"></td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name"><a href="shop-product-right.html"></a>
                                                        </h5>
                                                        <p class="font-xs">
                                                            <%= cartitem.cartdetails[0].Name %>
                                                        </p>
                                                    </td>
                                                    <td class="priceData_<%= cartitem.products.productid %>"
                                                        data-title="Price"><span>
                                                            <%= cartitem.cartdetails[0].price %>
                                                        </span></td>
                                                    <td class="text-center" data-title="Stock">
                                                        <% if(cartitem.cartdetails[0].Quantity
                                                            <=cartitem.products.quantity ) { %>
                                                            <span class="text-danger">Maximum Stock</span>
                                                            <div class="detail-qty border radius  m-auto">
                                                                <a onclick="showError()" class="qty-up"><i
                                                                        class="fi-rs-angle-small-up"></i></a>
                                                                <span class="qty-val"
                                                                    id="quantityDetails<%= cartitem.products.productid %>">
                                                                    <%= cartitem.products.quantity %>
                                                                </span>
                                                                <a onclick="decrement('<%= cartitem.products.productid %>','<%= cartitem.products.quantity %>')"
                                                                    class="qty-down"><i
                                                                        class="fi-rs-angle-small-down"></i></a>
                                                            </div>
                                                            <% } else if (cartitem.products.quantity===1) { %>
                                                                <div class="detail-qty border radius  m-auto">
                                                                    <a onclick="increment('<%= cartitem.products.productid %>','<%= cartitem.products.quantity %>')"
                                                                        class="qty-up"><i
                                                                            class="fi-rs-angle-small-up"></i></a>
                                                                    <span class="qty-val"
                                                                        id="quantityDetails<%= cartitem.products.productid %>">
                                                                        <%= cartitem.products.quantity %>
                                                                    </span>
                                                                    <a onclick="showError()" class="qty-down"><i
                                                                            class="fi-rs-angle-small-down"></i></a>
                                                                </div>
                                                                <% } else { %>
                                                                    <div class="detail-qty border radius  m-auto">
                                                                        <a onclick="increment('<%= cartitem.products.productid %>','<%= cartitem.products.quantity %>')"
                                                                            class="qty-up"><i
                                                                                class="fi-rs-angle-small-up"></i></a>
                                                                        <span class="qty-val"
                                                                            id="quantityDetails<%= cartitem.products.productid %>">
                                                                            <%= cartitem.products.quantity %>
                                                                        </span>
                                                                        <a onclick="decrement('<%= cartitem.products.productid %>','<%= cartitem.products.quantity %>')"
                                                                            class="qty-down"><i
                                                                                class="fi-rs-angle-small-down"></i></a>
                                                                    </div>
                                                                    <% } %>
                                                    </td>
                                                    <td class="text-right" data-title="Cart">
                                                        <span>₹ </span><span
                                                            id="totalquantityprice_<%= cartitem.products.productid %>">
                                                            <%= array[index] %>
                                                        </span>
                                                    </td>
                                                    <td class="action" data-title="Remove"><a
                                                            href="/removeitem/?data=<%= cartitem.products.productid %>"
                                                            class="text-muted"><i class="fi-rs-trash"></i></a></td>

                                                </tr>
                                                <% }) %>
                                                    <tr>
                                                        <td colspan="6" class="text-end">
                                                            <a href="/clearcartdata" class="text-muted "> <i
                                                                    class="fi-rs-cross-small"></i>
                                                                Clear Cart </a>
                                                        </td>
                                                    </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-action text-end">
                                    <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                                    <a class="btn " href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue
                                        Shopping</a>
                                </div>
                                <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                                <div class="row mb-50">

                                    <div class="col-lg-8 col-md-12">
                                        <div class="border p-md-4 p-30 border-radius cart-totals">
                                            <div class="heading_s1 mb-3">
                                                <h4>Cart Totals</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="cart_total_label">Cart Subtotal</td>
                                                            <td class="cart_total_amount">
                                                                <span class="font-lg fw-900 text-brand">₹</span><span
                                                                    class="font-lg fw-900 text-brand" id="totalprices">
                                                                    <%= total %>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="cart_total_label">Shipping</td>
                                                            <td class="cart_total_amount"> <i class="ti-gift mr-5"></i>
                                                                Free Shipping</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="cart_total_label">Total</td>
                                                            <td class="cart_total_amount"><span
                                                                    class="font-lg fw-900 text-brand">₹</span>
                                                                <strong><span class="font-lg fw-900 text-brand"
                                                                        id="totalprice">
                                                                        <%= total %>
                                                                    </span></strong>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <a href="/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i>
                                                Proceed To
                                                CheckOut</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <% } %>

                <%- include('footer') %>

                    <script>
                        async function increment(datas, quantity) {
                            try {
                                const response = await fetch(`/incrementCart?prodId=${datas}`);
                                const result = await response.json();
                                if (response) {
                                    location.reload()
                                    const qntydata = document.getElementById('quantityDetails' + datas);
                                    qntydata.innerHTML = parseInt(qntydata.innerHTML) + 1;
                                    document.getElementById('priceData_' + datas).innerHTML = result.base;
                                    document.getElementById('totalquantityprice_' + datas).innerHTML = result.price;
                                    document.getElementById('totalprices').innerHTML = result.total;
                                    document.getElementById('totalprice').innerHTML = result.total;
                                    
                                } else if (response.status === 204) {
                                    await Swal.fire(
                                        'Sorry!',
                                        'Stock Limit Exceeded',
                                        'error'
                                    );
                                    location.reload();
                                }
                            } catch (error) {
                                console.error(error);
                            }
                        }

                        async function decrement(datas, quantity) {
                            try {
                                const qntydata = document.getElementById('quantityDetails' + datas);
                                const price = document.getElementById('priceData_' + datas);
                                const priceTotal = document.getElementById('totalquantityprice_' + datas);
                                const response = await fetch(`/decrementCart?prodId=${datas}`);
                                const result = await response.json();
                                if (response) {
                                    location.reload()
                                    qntydata.innerHTML = parseInt(qntydata.innerHTML) - 1;
                                    price.innerHTML = result.base;
                                    priceTotal.innerHTML = result.price;
                                    document.getElementById('totalprices').innerHTML = result.total;
                                    document.getElementById('totalprice').innerHTML = result.total;
                                    
                                } else if (response.status === 204) {
                                    await Swal.fire(
                                        'Sorry!',
                                        'Stock Limit Exceeded',
                                        'error'
                                    );
                                    location.reload();
                                }
                            } catch (error) {
                                console.error(error);
                            }
                        }

                        async function showError() {
                            await Swal.fire(
                                'Sorry!',
                                'Maximum Quantity Reached',
                                'error'
                            );
                            location.reload();
                        }
                    </script>