<%- include('header') %>
    <!-- Modal -->


    <!-- Quick view -->
    <% details.forEach((products,index)=>{ %>
        <div class="modal fade custom-modal" id="quickViewModal<%= index %>" tabindex="-1"
            aria-labelledby="quickViewModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->

                                    <div class="product-image-slider">
                                        <% products.images.forEach((item)=>{ %>
                                            <figure class="border-radius-10" id="imageshow">
                                                <img src="/productimage/<%= item %>" alt="product image">
                                            </figure>
                                        <% }) %>
                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <% products.images.forEach((item)=>{ %>
                                            <div><img src="/productimage/<%= item %>" alt="product image"></div>
                                        <% }) %>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                                <div class="social-icons single-share">
                                    <ul class="text-grey-5 d-inline-block">
                                        <li><strong class="mr-10">Share this:</strong></li>
                                        <li class="social-facebook"><a href="#"><img
                                                    src="assets/userAsset/imgs/theme/icons/icon-facebook.svg"
                                                    alt=""></a></li>
                                        <li class="social-twitter"> <a href="#"><img
                                                    src="assets/userAsset/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                        </li>
                                        <li class="social-instagram"><a href="#"><img
                                                    src="assets/userAsset/imgs/theme/icons/icon-instagram.svg"
                                                    alt=""></a></li>
                                        <li class="social-linkedin"><a href="#"><img
                                                    src="assets/userAsset/imgs/theme/icons/icon-pinterest.svg"
                                                    alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h3 class="title-detail mt-30">
                                        <%= products.Name %>
                                    </h3>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <span> Brands: <a href="shop-grid-right.html">Colours Pardha</a></span>
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins>₹<span class="text-brand">
                                                    <%= products.price %>
                                                </span></ins>
                                            <ins><span class="old-price font-md ml-15">
                                                <% if(products.Offer.offerType){ %>
                                                    <%= products.basePrice %>
                                                <% }else{ %>
                                                    <%= products.price %>
                                                <% } %>
                                                </span></ins>
                                            <span class="save-price  font-md color3 ml-15">25% Off</span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p class="font-sm">
                                            <%= products.description %>,!
                                        </p>
                                    </div>

                                    <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">
                                            <%= products.Color %>
                                        </strong>
                                        <ul class="list-filter color-filter">

                                        </ul>
                                    </div>
                                    <div class="attr-detail attr-size">
                                        <strong class="mr-10">
                                                <ul class="list-filter size-filter font-small">
                                                    <li><a href="#">M</a></li>
                                                    <li><a href="#">L</a></li>
                                                    <li><a href="#">XL</a></li>
                                                    <li><a href="#">XXL</a></li>
                                                </ul>
                                        </strong>

                                    </div>
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                        <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                                rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                        <li>Availability:<span class="in-stock text-success ml-5">
                                                <%= products.Quantity %>
                                            </span></li>
                                    </ul>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>


            
                       
            <main class="main">
                <section class="home-slider position-relative pt-50">
                    <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Trade-in offer</h4>
                                            <h2 class="animated fw-900">Supper value deals</h2>
                                            <h1 class="animated fw-900 text-brand">On all products</h1>
                                            <p class="animated">Save more with coupons & up to 70% off</p>
                                            <a class="animated btn btn-brush btn-brush-3"
                                                href="/shop"> Shop Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated slider-1-1"
                                                src="/images/pexels-the-lazy-artist-gallery-1108602.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Hot promotions</h4>
                                            <h2 class="animated fw-900">Fashion Trending</h2>
                                            <h1 class="animated fw-900 text-7">Great Collection</h1>
                                            <p class="animated">Save more with coupons & up to 20% off</p>
                                            <a class="animated btn btn-brush btn-brush-2"
                                                href="/shop"> Discover Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated slider-1-2"
                                                src="/images/stock-photo-three-women-friends-going-out-in-dubai-girls-wearing-the-united-arab-emirates-traditional-abaya-1616240125.jpg"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Upcoming Offer</h4>
                                            <h2 class="animated fw-900">Big Deals From</h2>
                                            <h1 class="animated fw-900 text-8">Manufacturer</h1>
                                            <p class="animated">Abaya's, Shawls, kids Abaya...</p>
                                            <a class="animated btn btn-brush btn-brush-1"
                                                href="/shop"> Shop Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated slider-1-3"
                                                src="/images/free-women-s-new-fancy-designer-3-layer-abaya-burkha-emaan-original-imags6r7fm4h34p7.webp"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </section>
                <section class="product-tabs section-padding position-relative wow fadeIn animated">
                    <div class="container">
                        <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab"
                                        data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one"
                                        aria-selected="true">Featured</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab"
                                        data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two"
                                        aria-selected="false">Popular</button>
                                </li>
                            </ul>
                            <a href="/shop" class="view-more d-none d-md-flex">View More<i
                                    class="fi-rs-angle-double-small-right"></i></a>
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    <% details.forEach((products,index)=>{ %>
                                        <% if(products.publish ){ %>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div style="height: 100%;" class=" product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="productview/?id=<%= products._id %>">
                                                                <img style="width: 100%; object-fit: cover; object-position: top; max-height: 250px;"
                                                                    class="default-img"
                                                                    src="/productimage/<%= products.coverImages %>" alt="">
                                                                <img style="width: 100%; object-fit: cover; object-position: top; max-height: 250px;"
                                                                    class="hover-img"
                                                                    src="/productimage/<%= products.coverImages %>" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#quickViewModal<%= index %>"><i
                                                                    class="fi-rs-eye"></i></a>
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                                 onclick="whishlistitem('<%= products._id %>','<%= data._id %>')" ><i
                                                                    class="fi-rs-heart"></i></a>
                                                            
                                                        </div>
                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">new</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="shop-grid-right.html">
                                                                <%= products.category %>
                                                            </a>
                                                        </div>
                                                        <h2><a href="shop-product-right.html">
                                                                <%= products.Name %>
                                                            </a></h2>
                                                        <div class="rating-result" title="90%">
                                                            <span>
                                                                <span>15%</span>
                                                            </span>
                                                        </div>
                                                        <div class="product-price">
                                                            ₹<span>
                                                                <%= products.price %>
                                                            </span>
                                                            <span class="old-price">
                                                                <% if(products.Offer.offerType){ %>
                                                                    <%= products.basePrice %>
                                                                <% }else{ %>
                                                                    <%= products.price %>
                                                                <% } %>
                                                            </span>
                                                        </div>
                                                        <div class="product-action-1 show">
                                                            <a aria-label="Add To Cart" class="action-btn hover-up" onclick="modalcall('<%= products._id %>','<%= data._id %>')" >
                                                                <i class="fi-rs-shopping-bag-add"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% }) %>
                                            
                                </div>
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab one (Featured)-->
                            <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                                <div class="row product-grid-4">
                                    <% details.forEach((products,index)=>{ %>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div style="height: 100%;" class=" product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="productview/?id=<%= products._id %>">
                                                                <img style="width: 100%; object-fit: cover; object-position: top; max-height: 250px;"
                                                                    class="default-img"
                                                                    src="/productimage/<%= products.coverImages %>" alt="">
                                                                <img style="width: 100%; object-fit: cover; object-position: top; max-height: 250px;"
                                                                    class="hover-img"
                                                                    src="/productimage/<%= products.coverImages %>" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#quickViewModal<%= index %>"><i
                                                                    class="fi-rs-eye"></i></a>
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                                 onclick="whishlistitem('<%= products._id %>','<%= data._id %>')" ><i
                                                                    class="fi-rs-heart"></i></a>
                                                            
                                                        </div>
                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">new</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="shop-grid-right.html">
                                                                <%= products.category %>
                                                            </a>
                                                        </div>
                                                        <h2><a href="shop-product-right.html">
                                                                <%= products.Name %>
                                                            </a></h2>
                                                        <div class="rating-result" title="90%">
                                                            <span>
                                                                <span>15%</span>
                                                            </span>
                                                        </div>
                                                        <div class="product-price">
                                                            ₹<span>
                                                                <%= products.price %>
                                                            </span>
                                                            <span class="old-price">
                                                                <% if(products.Offer.offerType){ %>
                                                                    <%= products.basePrice %>
                                                                <% }else{ %>
                                                                    <%= products.price %>
                                                                <% } %>
                                                            </span>
                                                        </div>
                                                        <div class="product-action-1 show">
                                                            <a aria-label="Add To Cart" class="action-btn hover-up" onclick="modalcall('<%= products._id %>','<%= data._id %>')" >
                                                                <i class="fi-rs-shopping-bag-add"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>

                                </div>
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab two (Popular)-->
                        </div>
                        <!--End tab-content-->
                    </div>
                </section>
                <section class="popular-categories section-padding mt-15 mb-25">
                    <div class="container wow fadeIn animated">
                        <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                        <div class="carausel-6-columns-cover position-relative">
                            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                                id="carausel-6-columns-arrows"></div>
                            <div class="carausel-6-columns" id="carausel-6-columns">
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-1.jpg"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="shop-grid-right.html">T-Shirt</a></h5>
                                </div>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="shop-grid-right.html"> <img src="assets/imgs/shop/category-thumb-2.jpg"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="shop-grid-right.html">Bags</a></h5>
                                </div>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-3.jpg"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="shop-grid-right.html">Sandan</a></h5>
                                </div>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-4.jpg"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="shop-grid-right.html">Scarf Cap</a></h5>
                                </div>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-5.jpg"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="shop-grid-right.html">Shoes</a></h5>
                                </div>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-6.jpg"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="shop-grid-right.html">Pillowcase</a></h5>
                                </div>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-7.jpg"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="shop-grid-right.html">Jumpsuits</a></h5>
                                </div>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-8.jpg"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="shop-grid-right.html">Hats</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="banners mb-15">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="banner-img wow fadeIn animated">
                                    <img src="assets/userAsset/imgs/banner/banner-1.png" alt="">
                                    <div class="banner-text">
                                        <span>Smart Offer</span>
                                        <h4>Save 20% on <br>Woman Bag</h4>
                                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="banner-img wow fadeIn animated">
                                    <img src="assets/userAsset/imgs/banner/banner-2.png" alt="">
                                    <div class="banner-text">
                                        <span>Sale off</span>
                                        <h4>Great Summer <br>Collection</h4>
                                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-md-none d-lg-flex">
                                <div class="banner-img wow fadeIn animated  mb-sm-0">
                                    <img src="assets/userAsset/imgs/banner/banner-3.png" alt="">
                                    <div class="banner-text">
                                        <span>New Arrivals</span>
                                        <h4>Shop Today’s <br>Deals & Offers</h4>
                                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-padding">
                    <div class="container wow fadeIn animated">
                        <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                        <div class="carausel-6-columns-cover position-relative">
                            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                                id="carausel-6-columns-2-arrows"></div>
                            <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                                <div class="product-cart-wrap small hover-up">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img"
                                                    src="assets/userAsset/imgs/shop/product-2-1.jpg" alt="">
                                                <img class="hover-img" src="assets/userAsset/imgs/shop/product-2-2.jpg"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn small hover-up"
                                                href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="shop-product-right.html">Lorem ipsum dolor</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$238.85 </span>
                                            <span class="old-price">$245.8</span>
                                        </div>
                                    </div>
                                </div>
                                <!--End product-cart-wrap-2-->
                                <div class="product-cart-wrap small hover-up">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img"
                                                    src="assets/userAsset/imgs/shop/product-4-1.jpg" alt="">
                                                <img class="hover-img" src="assets/userAsset/imgs/shop/product-4-2.jpg"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn small hover-up"
                                                href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="new">New</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="shop-product-right.html">Aliquam posuere</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$173.85 </span>
                                            <span class="old-price">$185.8</span>
                                        </div>
                                    </div>
                                </div>
                                <!--End product-cart-wrap-2-->
                                <div class="product-cart-wrap small hover-up">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img"
                                                    src="assets/userAsset/imgs/shop/product-15-1.jpg" alt="">
                                                <img class="hover-img" src="assets/userAsset/imgs/shop/product-15-2.jpg"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn small hover-up"
                                                href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="sale">Sale</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="shop-product-right.html">Sed dapibus orci</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$215.85 </span>
                                            <span class="old-price">$235.8</span>
                                        </div>
                                    </div>
                                </div>
                                <!--End product-cart-wrap-2-->
                                <div class="product-cart-wrap small hover-up">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img"
                                                    src="assets/userAsset/imgs/shop/product-3-1.jpg" alt="">
                                                <img class="hover-img" src="assets/userAsset/imgs/shop/product-3-2.jpg"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn small hover-up"
                                                href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">.33%</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="shop-product-right.html">Donec congue</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$83.8 </span>
                                            <span class="old-price">$125.2</span>
                                        </div>
                                    </div>
                                </div>
                                <!--End product-cart-wrap-2-->
                                <div class="product-cart-wrap small hover-up">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img"
                                                    src="assets/userAsset/imgs/shop/product-9-1.jpg" alt="">
                                                <img class="hover-img" src="assets/userAsset/imgs/shop/product-9-2.jpg"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn small hover-up"
                                                href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">-25%</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="shop-product-right.html">Curabitur porta</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$1238.85 </span>
                                            <span class="old-price">$1245.8</span>
                                        </div>
                                    </div>
                                </div>
                                <!--End product-cart-wrap-2-->
                                <div class="product-cart-wrap small hover-up">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img"
                                                    src="assets/userAsset/imgs/shop/product-7-1.jpg" alt="">
                                                <img class="hover-img" src="assets/userAsset/imgs/shop/product-7-2.jpg"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn small hover-up"
                                                href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="new">New</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="shop-product-right.html">Praesent maximus</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$123 </span>
                                            <span class="old-price">$156</span>
                                        </div>
                                    </div>
                                </div>
                                <!--End product-cart-wrap-2-->
                                <div class="product-cart-wrap small hover-up">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img"
                                                    src="assets/userAsset/imgs/shop/product-1-1.jpg" alt="">
                                                <img class="hover-img" src="assets/userAsset/imgs/shop/product-1-2.jpg"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn small hover-up"
                                                href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="shop-product-right.html">Vestibulum ante</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$238.85 </span>
                                            <span class="old-price">$245.8</span>
                                        </div>
                                    </div>
                                </div>
                                <!--End product-cart-wrap-2-->
                            </div>
                        </div>
                    </div>
                </section>
                <section class="deals section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 deal-co">
                                <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0"
                                    style="background-image: url('images/stock-photo-three-women-friends-going-out-in-dubai-girls-wearing-the-united-arab-emirates-traditional-abaya-1616240125.jpg');">
                                    <div class="deal-top">
                                        <h2 class="text-brand">Deal of the Day</h2>
                                        <h5>Limited quantities.</h5>
                                    </div>
                                    <div class="deal-content">
                                        <h6 class="product-title"><a href="shop-product-right.html">Summer Collection
                                                New Morden Design</a></h6>
                                        <div class="product-price"><span class="new-price">$139.00</span><span
                                                class="text-dark old-price">$160.99</span></div>
                                    </div>
                                    <div class="deal-bottom">
                                        <p>Hurry Up! Offer End In:</p>
                                        <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                                        <a href="/shop" class="btn hover-up">Shop Now <i
                                                class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 deal-co">
                                <div class="deal wow fadeIn animated"
                                    style="background-image: url('/images/pexels-the-lazy-artist-gallery-1108602.jpg');">
                                    <div class="deal-top">
                                        <h2 class="text-brand">Latest Abaya</h2>
                                        <h5>Womens & Kids</h5>
                                    </div>
                                    <div class="deal-content">
                                        <h6 class="product-title"><a href="shop-product-right.html">Try something new on
                                                vacation</a></h6>
                                        <div class="product-price"><span class="new-price">$178.00</span><span
                                                class="old-price">$256.99</span></div>
                                    </div>
                                    <div class="deal-bottom">
                                        <p>Hurry Up! Offer End In:</p>
                                        <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                                        <a href="/shop" class="btn hover-up">Shop Now <i
                                                class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </main>
            
            <%- include('footer') %>

            <script>
                async function modalcall(productid,userid) {
                    if(userid){
                        let res = await Swal.fire({
                            title: 'Are you sure?',
                            text: "want to add this product to the Cart!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, Added to Cart!'
                        })
                        if (res.isConfirmed) {
                            const productcart = await fetch('/addedcart',{
                            method:'POST',
                            headers:{'Content-Type':'application/json'},
                            body:JSON.stringify({userid,productid})
                        })
                        if(productcart.status===200){
                            Swal.fire(
                                'Added!',
                                'Your product is Added to Cart.',
                                'success'
                            )}
                        }
                            
                    }else{
                        let result = await Swal.fire({
                            title: "Don't have an Account?",
                            text: "want to add this product Create an Account!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                        })
                    }
                }


                async function whishlistitem(productid,userid) {
                    if(userid){
                        const productwhishlist = await fetch('/addedwhishlist',{
                        method:'POST',
                        headers:{'Content-Type':'application/json'},
                        body:JSON.stringify({productid,userid})
                        })
                        if(productwhishlist.status===200){
                            Swal.fire(
                                'Added!',
                                'Your product is Added to Whishlist.',
                                'success'
                            )}
                    }else{
                    let result = await Swal.fire({
                        title: "Don't have an Account?",
                        text: "want to add this product Create an Account!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        })
                    }
                }
            </script>

      